 @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


*{
	font-family: 'Pangolin', cursive;
	padding: 0px;
	margin: 0px;
}
body{
	font-size: 1.3em;
	color: white;
	width: 90%;
	background-color: gray;
}
h1.tta{
	margin-top: 0.80em;
	font-size: 1.6em;
	background-color: gray;
	border:3px solid pink;
	border-radius: 8px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: pink;
	color: white;
}
h2{
	font-size: 1.7em;
	margin-top: 1.35em;
}
h3.subt{
	margin-top: 0.5em;
	font-size: 1.4em;
	text-decoration: none;
	color: blue;
	font-weight: bold;
}
section{
	margin-bottom: 1.5em;
	max-width: 100%;
	margin-left: 5%;
}
a{
	color: turquoise;
}
a:hover{
	color: pink;
}

b.en3{
	text-decoration: underline;
}
span.cook{
	line-height: 1.5;
	font-weight: bold;
	font-size: 1.2em;
	background-color: wheat;
	margin: 2px;
	text-decoration: underline;
	color: blue;
}p.main{
	margin-top: 1em;
	margin-bottom: 2em;
}
h2.main{
	text-decoration: underline;
	text-decoration-color: blue; 
	color: white;
	margin-bottom: 1em;
	text-align: center;
}
h2.maine{
	margin-bottom: 1em;
	text-align: left;
}
ul, li{
	font-size: 1em;
	margin-top: 0.7em;
}
span.infode{
	color: black;
	font-weight: bold;
}
li.mini{
	margin-left: 4%;
}
span.country{
	color: yellow;
}
ul li.nu3{
	margin-bottom: 1.2em;
	margin-left: 2%;
}
ul li.nu3pop{
	margin-top: 20px;
	text-decoration: underline;
	margin-left: 2%;
}
button.dwl{
	float: right;
	font-size: 0.90em;
	cursor: pointer;
	background-color: black;
	color: aqua;
	padding: 15px 30px;
	margin-bottom: 0.35em;
	margin-top: 0.5em;
	margin-left: 1em;
}
button.dwl:hover{
	color: wheat;
}
a.lang{
	color: white;
}
a.lang:hover{
	color: pink;
}
ul li.nu3F{
	color: wheat;
	margin-bottom: 1.2em;
	margin-left: 2%;
}
ul li.nu3FC{
	width: 25%;
	font-weight: bold;
	background-color: pink;
	color: blue;
	margin-bottom: 1.2em;
	margin-left: 2%;
}
button.dwl:hover{
	background-color: grey;
}
p.nu3pop{
	margin-left: 2%;
}
span.tune{
	border-radius: 6px;
	font-weight: bold;
	color: purple;
}
span.date{
	font-weight: bold;
	color: black;
}
span.goddanger{
	font-weight: bold;
	color: black;
}
span.god{
	line-height: 1em;
	font-weight: bold;
	color: pink;
}
a.datee{
	color: black;
}
span.SUBTITTLE{
	color: #F5F5F5;
}
span.mail{
	color: black;
	font-weight: bold;
}
span.mailu{
	text-decoration: underline;
	background-color: blue;
}
span.CORP{
	background-color: white;
	border: 2px solid pink;
	color: #007FFF;
}
table{
	margin: 2px solid pink;
}
#btncookies{
	margin-left: 70%;
	font-size: 1.5em;
	color: black;
	background-color: white;
	border-radius: 6px;
	border:3px solid blue;
	text-decoration: underline;
	cursor: pointer;

}
#btncookies:hover{
	color: green;
	background-color: white;
}
/*RESPONSIVE START*/
@media screen and (max-width: 536px){
	body{
		font-size: 0.80em;
	}
	button.dwl{
		font-size: 0.55em;
		padding: 8px 15px;
	}
}
/*RESPONSIVE END*/
